{% extends "blog/base.html" %}

{% block title %}Password Change Form{% endblock %}

{% block content %}
<h1>Change your password</h1>

<p>Use the form below to change your password.</p>

<form method="post">

    {% csrf_token %}
    <label>Old Password:</label>
    <input type="password" name="old_password" autocomplete="new-password" required placeholder="Enter Old Password">
    <label>New Password:</label>
    <input type="password" autocomplete="new-password" name="new_password1" required placeholder="Enter New Password">
    <label>Confirm New Password:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required placeholder="Confirm New Password">
    <button type="submit">Update Password</button>

</form>
{% endblock content %}
