{% extends "blog/base.html" %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}
<form method="post" class="flex items-center flex-col">
    <h1 class="font-bold text-2xl text-center">Reset Your Password</h1>
    <p class="text-center my-4 text-gray-600 text-md">Enter your email address to receive password reset instructions</p>
    {% csrf_token %}
    <div class="my-2">
         <label class="px-2  py-2 text-s font-semi-bold" for="email_text">Email:</label>
        <input type="email" class="border border-gray-900 px-1 py-1" name="email_text" id="email_text" placeholder="Enter your email:">
    </div>
    <button type="submit" class="border border-gray-300 hover:bg-gray-100 my-2 px-2 py-1 rounded-md" value="submit">Reset Password</button>
</form>
{% endblock %}